body{
    font-family: 'raleway';

}

.full-page {
    display: flex;
    justify-content: space-between;
    font-family: 'raleway';

    /* height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img-flexiable.html/house2.webp);
    background-position: center;
    background-size: cover;
    position: absolute; */
}
.text h1{
    font-family: 'raleway';

}


.fist-page {

    width: 100%;
    height: 100vh;
    position: relative;
    margin: 2% auto;
    background-image: linear-gradient(rgba(7, 6, 6, 0.4), rgba(15, 14, 14, 0.4)), url(img-flexiable.html/backgron.jpg);
    background-position: center;
    background-size: cover;
    /* position: absolute; */
    /* padding: 10px; */
    overflow: hidden;
    /* border: 1px solid black; */
    display: flex;

}

.form-box {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: auto;
    background: rgba(0, 0, 0, 0, 3);
    /* padding: 10px; */
    overflow: hidden;
    /* border: 1px solid black; */
    /* border: 1px solid black; */
}


.text,
.text-b {
    color: white;
    font-family: 'raleway';


}

.form-box-small {
    /* border: 1px solid black; */
    justify-content: center;
    display: flex;
}


.text-box {
    /* display: flex; */
    margin: auto;
}

.text p,
.text-b p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'raleway';
}


.text-b {
    font-family: sans-serif;
    display: block;
    justify-content: center;

    margin-top: 50px;
}



.btn button {
    color: white;
    width: 75%;
    padding: 20px 50px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 8px;
}


.submit-btn {
    width: 50%;
    padding: 20px 50px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 20px;
    background: #266006;
    border: 0;
    outline: none;
    border-radius: 8px;
    font-style: 'raleway';
}

.input-field {
    width: 70%;
    height: 30px;
    padding: 10px 0;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-left: none;
    border-top: none;
    border-right: none;
    /* border: 1px solid #d0c7c7; */
    /* outline: none;  */
    background: rgb(239, 233, 233);

}
input{
    border: none;
}
#login input {
    color: white;
    font-size: 15;
}

.check-box {
    margin: 30px 10px 34px 0;
}

.Forgot-password {

    width: 85%;
    padding: 20px 40px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-left: 40px;
}















/* .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-right: 30px;
    padding-top: 50px;
    width: auto;
    height: auto;

}


.nav {
    flex: 1;
    list-style: none;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;







}

.nav ul {
    display: inline-block;
    list-style: none;

}

.nav ul li {
    display: inline-block;
    margin-right: 70px;
    justify-content: flex-end;


}

.nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;

}

.nav ul li button {
    font: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;

}

.nav ul li button:hover {
    color: aqua;
}

.nav ul li a:hover {
    color: aqua;
} */

.top-login h2 {
    font-family: sans-serif;
    width: auto;
    display: flex;
    justify-content: center;
}
.top-login{
    
margin-top: 50px;
}

.img-login img {
    /* display: flex; */
    width: 10%;
    height: 10%;
}

.img-login {
    display: flex;
    justify-content: center;
}

::placeholder {
    color: rgb(191, 178, 178);

}